@import url('http://fonts.cdnfonts.com/css/kaushan-script');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --white : #FFFFFF;
    --kaushan: "Kaushan Script";
    --poppins: "Poppins";
    --red: #FC0505;
    --black: #000000;
    --background: #F5F5F5;
}
*{
    padding: 0;
    margin: 0;
}
body{
    position: relative;
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    font-family: var(--kaushan);
    background-color: var(--background);
}

/*NAVABAR STYLING*/
.navbar-menu{
    background-color: var(--white);
    list-style: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    width: 30%;
    top: -30px;
    font-size: 30px;
    height: 100vh;
    right: 0;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: all 500ms ease-in;
}

.focused-navbar{
    background-color: rgba(0,0,0,0.6);
}

.menu-active{
    transform: translateX(0);
}

.navbar-menu li{
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

.navbar-menu li a{
    text-decoration: none;
    color: var(--black);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

#logo{
    width: 50px;
    height: 50px;
}
.fa-bars{
    font-size: 30px;
    color: var(--black);
}

/*BANNER STYLING*/

.banner{
    background-image: url("../../assets/thomas-marban-EHK-EH1SRzQ-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    line-height: 200px;
    text-align: center;
}

.banner > p{
    color: var(--white);
    font-size: 30px;
}

/*ABOUT STYLING*/

.about{
    display: flex;
    gap: 10%;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    width: 100%;
}

.about img{
    height: 400px;
}

.about > div{
    width: 550px;
    line-height: 50px;
}

.fullname{
    color: var(--red);
    text-transform: uppercase;
}

/*FOOTER STYLING*/

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 20px;
}

.copyright{
    color: var(--red);
}

@media screen and (max-width: 950px){
    #logo{
        width: 30px;
        height: 30px;
    }

    .fa-bars{
        font-size: 15px;
    }

    /*BANNER STYLING*/

    .banner{
        line-height: 150px;
    }

    .banner > p{
        font-size: 20px;
    }
    .about{
        gap: 3%;
    }

    .about > div{
        width: 60%;
        line-height: 15px;
    }

    .about > img{
        width: 40%;
        height: 400px;
    }
}

@media screen and (max-width: 600px){
    /*FOOTER STYLING*/

    footer{
        font-size: 14px;
    }
}