@import url('http://fonts.cdnfonts.com/css/kaushan-script');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --white : #FFFFFF;
    --kaushan: "Kaushan Script";
    --poppins: "Poppins";
    --red: #FC0505;
    --black: #000000;
    --background: #F5F5F5;
}
*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    width: 100vw;
    font-family: var(--kaushan);
    background-color: var(--background);
}

/*NAVBAR MENU STYLING*/
.navbar-menu{
    background-color: var(--white);
    list-style: none;
    position: absolute;
    top: -30px;
    font-size: 30px;
    height: 100vh;
    display: none;
    right: -100%;
    
}

.navbar-menu li{
    margin-top: 40px;
    margin-right: 20px; 
}

/*NAVBAR STYLING*/
#logo{
    width: 50px;
    height: 50%;
}
.fa-bars{
    font-size: 30px;
    color: var(--white);
}
nav{
    box-sizing: border-box;
    position: absolute;
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*BANNER STYLING*/

.top-banner{
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

#banner-image{
    height: 500px;
    width: 100%;
}

.presentation{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 500px;
    padding-bottom: 30px;
}

.banner-text{
    font-weight: bold;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.red-h{
    color: var(--red);
}

.banner-desc{
    font-family: var(--poppins);
    font-weight: 500;
    font-size: 15px;
    width: 300px;
    text-align: left;
}

.more-btn{
    border: 2px solid var(--black);
    background: none;
    width: 150px;
    padding: 10px 0;
    border-radius: 8px;
    color: var(--red);
    font-size: 15px;
    font-family: var(--poppins);
    transition: all 500ms ease-in-out;
}
.more-btn:hover{
    background-color: var(--red);
    color: var(--white);
    border-color: var(--red);
}

/*MENU STYLING*/
h2{
    margin: 80px 0;
    font-size: 40px;
}
.our-menu{
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

.item{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.item > img{
    width: 100%;
}

.item-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    padding-left: 10%;
    gap: 40px;
}

.item-desc > p{
    width: 100%;
    font-size: 30px;
    text-align: left;
}

.container{
    width: 100%;
}


footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 20px;
}

.copyright{
    color: var(--red);
}

@media screen and (max-width: 950px){
    /*BANNER STYLING*/
    #banner-image{
        display: none;
    }
    .top-banner{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-desc{
        width: 100%;
        padding: 0 70px;
    }
    nav{
        top: 0;
    }
    /*MAIN STYLING*/

    h2{
        margin: 20px;
    }

    /*ITEM STYLING*/

    .item{
        display: flex;
        flex-direction: column;
    }

    .item-reverse{
        flex-direction: column-reverse;
    }

    .item > img{
        height: 2%;
    }

    .item-desc{
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        border: 1px solid red;
    }
}